{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<br><br><br>
<div class="container">
  <h1>Hello, world!</h1>
  <button type="button" class="btn btn-primary">Primary</button>

  <ol class="list-group list-group-numbered">
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Subheading</div>
          Content for list item
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
      </li>
  </ol>

  <table>
      <tr>
          <th>Task</th>
          <th>Actions</th>
      </tr>
      {% for task in tasks %}
      <tr>
          <td>{{ task.content }}</td>
          <td>
            <a href="delete/{{task.id}}">Delete</a> 
              <a href="">Update</a>
          </td>
      </tr>
      {% endfor %}
  </table>

  <form action="/" method="POST">
    <input type="text" name="content" id="content">
    <input type="submit" value="Add Task">
  </form>

  <table class="table">
    <tr>Movie list</tr>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
    </tr>
    {% for listmovie in temp2list %}
    <tr>
      <td>{{ listmovie }}</td>
      <td>
        <a href="">Watched</a> <br>
      </td>
      <td>
        <a href="">Rating</a> <br>
      </td>
    </tr>
    {% endfor %}

  </table>
</div>


{% endblock %}